<h2>Navigation</h2>
<nav>
    <ul>
        <li><a href="/">Plain</a></li>
        <li><a href="basic/">Basic Auth</a></li>
        <li><a href="form/">Form test</a></li>
        <li><a href="redirect/301/">301 Moved Permanently</a></li>
        <li><a href="https://github.com/uofa-cmput404/header-demo">Source Code</a></li>
    </ul>
</nav>